.headline {
    color: red;
    text-transform: uppercase
}

.text-blue {color: #4B9DD3 !important}
.text-black  { color: #000000 !important; }
.text-white  { color: #FFFFFF !important; }

.split-screen-img {
  width: 35%;
}

.split-screen-img img {
  border-radius: 8% !important;
}
